<div class="container">
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
  <header>
    <h1>Getro is wrong</h1>
    <h5>(but he's an alright guy)</h5>
  </header>
  <hr>
  {{outlet}}
</div>
